.basket {
    width: 430px;
    display: flex;
    flex-direction: column;
}

.basketTitle {
    height: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(225, 167, 236);
    cursor: pointer;
}

.sortedImagesContainer {
    justify-content: center;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.sortedImages {
    width: 100px;
    height: 100px;
}