.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App form {
  display: flex;
  flex-direction: column;
  align-items: center;  
  max-width: 500px;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.searchContainer button {
  margin-top: 20px;
  font-weight: 700;
  width: 90px;
  font-size: 20px;
  background-color: #7a2074;
  border: none;
  color: white;
  cursor: pointer;
}

.searchText {
  margin-top: 10px;
  width: 700px;
  font-size: 50px;
  font-weight: 700;
  background: -webkit-linear-gradient(#f8cdf8, #350332);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.searchInput {
  margin-top: 20px;
  width: 300px;
  height: 30px;
  font-size: 20px;
}

.basketContainer {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 45px;
  margin-top: 40px;
}